:root {
  --app-height: 100%;
}
body{
  height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #060A13;
  color: #fff;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container{
  width: 100svw;
  box-sizing: border-box;
}

/* -----------------------------------------------------THEME---------------------------------------------- */

.light{
  background-color: #fff;
  color: #000;
  transition: 800ms;
}

.light input{
  color: #000;
}

.light a{
  color: #000;
  text-align: center;
}

.dark{
  background-color: #060A13;
  color: #fff;
  transition: 800ms;
}

.dark input{
  color: #fff;
}

.dark a{
  color: #fff;
  text-align: center;
}

.inp-dark{
  background-color: #2E4392;
  color: #fff;
}

.inp-light{
  background-color: #f5f5f5;
  color: #000;
}

.c-light{
  background-color: #0d92f9;
}

.c-dark{
  background-color: #193166;
}

.inp-dark::placeholder{
  color: #BEBEBE;
}
/* ------------------------------------------------------------------------------------------------------------ */

h2{
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
}
a{
  text-decoration: none;
  transition: 500ms;
}

a:hover{
  opacity: 0.6;
}

p{
  display: inline-block;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  padding: 10%;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
  padding: 10%;
}

#me{
  background-color: #00CB34;
}

/* ------------------------------toast---------------------------- */

.toast div{
  color: #000;
}

/* ------------------------------login---------------------------- */

.main-login-div{
  height: 100svh;
  box-sizing: border-box;
  overflow-y: hidden;
}

.main-login-div a{
  transition: 500ms;
}
.main-login-div a:hover{
  opacity: 0.6;
}

.login-header{
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  padding: 2% 2%;
  align-items: center;
  margin-bottom: 5%;
}

.btn-sign-up{
  font-size: 15px;
}

.theme-div{
  width: 100%;
  text-align: center;
}

.theme{
  display: inline-block;
  background: transparent;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  /* text-align: left; */
}

.login-form-div{
  display: grid;
  justify-content: center;
  align-content: center;
  height: auto;
}

.login-form-inner-div{
  text-align: center;
  width: 30svw; 
  border: 1px solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  padding: 5%;
  box-sizing: border-box;
  animation-name: border;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes border {
  0%{
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }

  50%{
    border-image: linear-gradient(to right, darkorchid, darkblue) 1;
  }
  100%{
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }
}

.form{
  margin-bottom: 20%;
}

.login-form-inp{
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 10% 0;
  padding: 2% 1%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #C5540B;
  outline: none;
  color: rgb(213, 213, 213);
  transition: border-bottom 500ms;
}

.login-form-inp:focus {
  border-bottom: 1px solid #2152BE;
}

/* --------------------------------------------contacts-------------------------------------- */

.main-contacts{
  /* background-color: #0d92f9; */
  box-sizing: border-box;
}

.contacts-header{
  text-align: center;
  padding: 2% 0;
  color: #fff;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.contacts{
  padding: 2% 10%;
}

/* ---------------------------------------------chatting-------------------------------------- */

.message-block{
  box-sizing: border-box;
  width: 100svw;
}

.main-chatting{
  display: grid;
  width: 100%;
  height: 100svh;
  background-color: #fff;
}

.chatting-div{
  display: grid;
  grid-template-rows: 5% 85% 10%;
  /* row-gap: 1% 1% 0; */
  padding: 0;
  height: 100svh;
  position: relative;
  box-sizing: border-box;
}

/* ------------------------------------chatting-header---------------------------------- */

.message-header{
  width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 1.5fr 0.4fr;
  text-align: center;
  align-items: center;
  padding: 1% 1.5%;
  box-sizing: border-box;
}

/* --------------------------------------message-block---------------------------------- */

.message-block{
  height: 100%;
  box-sizing: border-box;
  margin-top: 1%;
}

.message{
  padding: 0.5% 0 0 1%;
  word-break: break-word;
}


.message-p{
  display: inline-block;
  text-align: left;
  width: auto;
  max-width: 40%;
  color: white;
  background-color: #0070FF;
  word-wrap: break-word;
  padding: 0.8%;
  border-radius: 10px 10px 10px 0;
}

.message-author{
  padding: 0 0 0.2% 0;
}


.message-date p{
  color: gray;
  font-size: 80%;
}

/* ---------------------------------------message-form---------------------------------- */

.message-form{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ins-message-form{
  display: grid;
  grid-template-columns: 94% 3% 3%;
  box-sizing: border-box;
  width: 100%;
  max-height: 30svh;
  padding: 1% 0;
}

.ins-div-message-form{
  display: flex;
  align-items: center;
}

.message-a:hover{
  opacity: 1;
}

.message-a-img{
  width: 100%;
}

.hide{
  display: none;
}

.message-form textarea{
  align-self: end;
  background-color: transparent;
  width: 94.5%;
  border: none;
  padding: 0.2% 1%;
  outline: none;
  font-size: 16px;
  word-break:break-word;
  resize: none;
  box-sizing: border-box;
  max-height: 30svh;
}

#inp-img{
  display: none;
}

#inp-img-label{
  display: inline-block;
}

#inp-img-label:hover{
  cursor: pointer;
}

.message-form button{
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-send-message{
  font-size: 18px;
  background-color: transparent;
  border: none;
  transition: color 300ms;
}

.btn-send-message:hover{
  cursor: pointer;
  color: #0d92f9;
}


/* ------------------------------------------800 px--------------------------------------------*/

/* --------------------------------login------------------------- */

@media screen and (max-width: 900px) {
  .login-form-inner-div{
    width: 50svw
  }
}

@media screen and (max-width:800px){
  ::-webkit-scrollbar{
    width: 2px;
  }
  .login-form{
    width: 100%;
  } 
  .right{
    text-align: right;
    padding-right: 10%;
  }

  /* .main-chatting{
    grid-template-columns: 100%;
  }
  .main-contacts{
    display: none;
  } */

  .message{
    padding: 1.5% 2% 0 2%;
  }

  .ins-message-form{
    align-items: center;
    grid-template-columns: 90% 5% 5%;
    padding: 0 0.5% 0 2%;
  }

  .message-form textarea{
    box-sizing: border-box;
    padding: 2% 0;
  }

}

@media screen and (max-width: 750px){
  .login-form-inner-div{
    width: 80svw;
  }
}

@media screen and (max-width: 670px){
  .login-header{
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
  }
}


@media screen and (max-width: 550px) {
  .login-header{
    grid-template-columns: 0.15fr 0.75fr 0.15fr;
  }
  /* .login-form h2{
    font-size: 25px;
  } */
  .login-form input{
    font-size: 15px;
  }

  .message{
    padding: 2% 2% 2% 3%;
  }

  .message-p{
    padding: 2%;
  }

  .ins-message-form{
    grid-template-columns: 86% 7% 7%;
    align-items: center;
    padding: 0 1% 0 3%;
  }

  #inp-img-label{
    font-size: 2.5svh;
    height: 100%;
    padding: 6% 0 0 0;
  }

  .btn-send-message{
    height: 100%;
    font-size: 3svh;
  }
}

@media screen and (max-width: 450px) {
  .login-header{
    grid-template-columns: 0.4fr 1.5fr 0.4fr;
    text-align: center;
  }
  .theme{
    font-size: 12px;
  }
  .login-header h2{
    font-size: 18px;
  }
  .login-header a{
    font-size: 12px;
    font-weight: bold;

  }
  .login-form input{
    font-size: 15px;
  }

  .login-form a{
    font-size: 15px;
  }

  .message-header a{
    font-size: 15px;
  }

  .message{
    padding: 2% 2% 0 3.5%;
  }

  .ins-message-form{
    align-items: center;
    padding: 0 1.5% 0 3.5%;
  }

  .message-form textarea{
    box-sizing: border-box;
    padding: 4% 0;
  }

  .btn-send-message{
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .message-header a , .message-header button{
    font-size: 12px;
  }
  .ins-message-form{
    width: 100%;
    box-sizing: border-box;
    padding: 0 1% 0 3%;
  }
  .btn-send-message{
    height: 100%;
  }
}